button { 
	border: none;
	border-radius: 50px;
	background: #05668d;
	box-shadow: 6px 6px 0px #045778, -2px -2px 0px #0675a2;
	height: 40px;
	font-weight: bold;
	min-width: 100px;
	margin: 12px;
	padding: 10px;
	font-size: large;
	color: var(--white);
	cursor: pointer;
}

button:focus {
	background: #05669d;
  box-shadow: inset -2px -2px 0px #0675a2, inset 7px 7px 0px #045778;
  outline: 0;
}
